{% extends 'layout.html' %}
{%load static%}
{% block title %}Create Folder{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="wtor-title">Create New Folder</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name" class="preview-title flicker-underline">Name:</label>
            {{ form.name }}
        </div>
        <button type="submit" class="btn create-nf-button">Create Folder</button>
    </form>
</div>


<div class="cyber-background">
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
</div>

<link rel="stylesheet" href="{% static 'css/create_folder.css' %}">

   {% endblock %}