<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    {% block extra_head %}{% endblock %}

</head>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'home' %}{% else %}{% url 'index' %}{% endif %}">OnlyRecruit</a>
    <div class="navbar-inner-container">
        <div class="cyber-line-container">
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
            <div class="cyber-line-horizontal"></div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' request.user.username %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'showcase_dashboard' %}">Dashboard</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-link2" href="{% url 'sign_up' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_user' %}" onsubmit="return validateSearch()">
                <div class="form-group">
                    <label for="navbar-search" class="sr-only">Search by username</label>
                    <div class="input-wrapper">
                        <input type="search" id="navbar-search" class="short-input" placeholder="Search by username" aria-label="Search" name="username">
                    </div>
                </div>
                <button class="btn" type="submit">Search</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% if error %}
    <div class="alert alert-danger">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="cyber-line-background-horizontal"></div>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/layout.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>