{% extends 'layout.html' %}
{%load static%}
{% block title %}Showcase Folder{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="wtor-title">Showcase Folder: {{ folder.name }}</h2>
    <br></br>
    <p class="wtor-description">Share this link to showcase your folder: <a href="{{ showcase_url }}" class="cyber-link">{{ showcase_url }}</a></p>
</div>

<div class="cyber-background">
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
    <div class="cyber-line-horizontal"></div>
</div>

<link rel="stylesheet" href="{% static 'css/showcase_folder.css' %}">

{% endblock %}

